.social{
    margin: 1rem auto; 
}
.address{
    @media screen and (min-width: 585px) {
        margin-top: 8rem;
    }
}
.nav-item{
    text-align: right;
}
.main_container{
    min-height: 100vh;
}
.container {
    .vertical-timeline-element-content{
        background: lightgray;
    }
    .vertical-timeline-element-content::before {
        border-right: 7px solid lightgray;
    }
    .vertical-timeline-element-icon {
        box-shadow: 0 0 0 4px lightgray, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    }
    .vertical-timeline::before {
        background: lightgray;
    }
    @media only screen and (min-width: 1170px){
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        left: 137%;
    }
}
}
.term{
    ol {
        list-style: none; 
        counter-reset: li; 
        li:before {
            counter-increment: li; 
            content: counters(li,".") ". "; 
        } 
    }
}

